/* Fonts */
@font-face {
	font-family: "ProximaNova-Light";
	src: url(../faces/ProximaNova-Light.otf);
}
@font-face {
	font-family: "Chalet-ParisNineteenSixty";
	src: url(../faces/Chalet-ParisNineteenSixty.otf);
}

a:link {
	background-color: rgba(35, 35, 35, 1) !important;
}
a:visited {
	background-color: rgba(35, 35, 35, 1) !important;
}
.small {
	font-size: .75em;
}

/* Navbar Customization */
.navbar.navbar-inverse {
	border-bottom: none;
}
.navbar-brand {
	padding-top: 18px;
	color: rgba(255, 255, 255, 1)!important;
	font-size: 3.1em;
	font-family: "Chalet-ParisNineteenSixty";	
}
	.nav.navbar-nav {
		float: right;
	}
		div.collapse li a,
		div.collapsing li a {
			font-variant: normal;
			font-size: 1.3em;
			font-family: "Chalet-ParisNineteenSixty", sans-serif;
		}
		div.collapsing li a,
		div.navbar-collapse.collapse.in li a {
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 0px;
		}
		div.collapse li a {
			border-left: 1px solid rgba(255, 255, 255, .75);
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 6px;
		}
/* Main Container */

.pad-down {
	padding-top: 100px;
}
	.pad-down-sm {
		padding-top: 50px;
	}